.venv/
__pycache__/
**/__pycache__/
sandboxes
trainer
testing
resources
compare_norm.py
frequency_dictionary_en_82_765.txt
requirements-backup.txt
next_steps
services/playground
services/ner
services/text_extraction/
services/ranking/ranker.py
utility_funcs/logainm_scraper.py
utility_funcs/mapping.py
utility_funcs/surname_xml_gazetter.py
.env
services/normalize/surnames.xml
services/normalize/mod_words.py
services/normalize/logainm_data.json
services/normalize/irish_surnames_index.json
services/normalize/irish_surnames_clusters.json